*{
    box-sizing: border-box;
}

.file-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #598eca;
    height: 100vh;
    width: 100vw; 
    position: relative;
    margin: 0 auto;
}

.uploadFileText{
    position: absolute;
    top: 1px;
    left: 10px;
    font-size: 30px;
    color: #f0f0f0;
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    height: 500px;
    position: relative;
}

.resultText{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 35px;
    color: #111111;
}